* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .content {
    width: 100%;
    max-width: 1540px;
    margin: 10px auto;
    padding: 20px;
    background-image: url("backg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
  }
  
  .header {
    padding: 20px;
    font-size: 0;
    font-weight: 700;
  }
  
  .header-information {
    display: inline-block;
    width: calc(100% - 250px);
    font-size: 20px;
  }
  
  .name {
    font-size: 100px;
    margin: 0 0 10px 0;
  }
  
  .english-name {
    font-size: 44px;
    color: #EF97E3;
    margin: 0 0 10px 0;
  }
  
  .detail {
    display: inline-block;
    margin-right: 50px;
    font-size: 32px;
  }
  
  .portrait {
    display: inline-block;
    width: 250px;
    border-radius: 50%;
  }
  
  .email-emoji {
    width: 30px;
  }
  
  .address-emoji {
    width: 20px;
  }
  
  .telephone-number-emoji {
    width: 40px;
  }
  
  .columns {
    font-size: 0;
  }
  
  .column {
    display: inline-block;
    padding: 20px;
    vertical-align: top;
    font-size: 24px;
  }
  
  .column-one {
    width: 60%;
  }
  
  .column-two {
    width: 40%;
  }
  
  .job{
    text-indent: 50px;
  }
  
  .school{
    text-indent: 50px;
  }
  
  .say{
    text-align: center;
  }
  
  .row {
    font-size: 36px;
    font-weight: 700;
  }
  

 
  
  .row-title {
    margin: 0;
    font-size: 52;
    color: #964aec;
    padding-bottom: 10px;
    border-bottom: 5px solid #2f4c6d7e;
  }
  
  .daily-life-donut:hover {
    width: 600px;
    height: 600x;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(30deg);
  }
  
  @media (max-width: 1023px){
      
  }
  .cube {
	-webkit-animation: rotate 7000ms linear infinite;
	        animation: rotate 7000ms linear infinite;
	bottom: 0;
	height: 100px;
	left: 0;
	margin: auto;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	right: 0;
	top: 0;
	width: 100px;
}

@-webkit-keyframes rotate {
	100% {
		-webkit-transform: rotateY(360deg) rotateX(720deg) rotateZ(1080deg);
		        transform: rotateY(360deg) rotateX(720deg) rotateZ(1080deg);
	}
}

@keyframes rotate {
	100% {
		-webkit-transform: rotateY(360deg) rotateX(720deg) rotateZ(1080deg);
		        transform: rotateY(360deg) rotateX(720deg) rotateZ(1080deg);
	}
}

.face {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.front {
	background: #333;
	-webkit-transform: translateZ(50px);
	        transform: translateZ(50px);
}

.back {
    background-image: url("4.jpg");
	background: #444;
	-webkit-transform: translateZ(-50px);
	        transform: translateZ(-50px);
}

.left {
    background-image: url("3.jpg");
	background: #555;
	-webkit-transform: translateX(-50px) rotateY(90deg);
	        transform: translateX(-50px) rotateY(90deg);
}

.right {
    background-image: url("2.jpg");
	
	-webkit-transform: translateX(50px) rotateY(90deg);
	        transform: translateX(50px) rotateY(90deg);
}

.top {
    background-image: url("1.jpg");
	background: #777;
	-webkit-transform: translateY(-50px) rotateX(90deg);
	        transform: translateY(-50px) rotateX(90deg);
}

.bottom {
	background: #888;
	-webkit-transform: translateY(50px) rotateX(90deg);
	        transform: translateY(50px) rotateX(90deg);
}